.Cooking .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.Cooking .container .rightPart {
    width: 30% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cooking .container .leftPart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.Cooking .container .leftPart .TextGroup {
    margin-right: 20px;
}

.Cooking .container .leftPart .TextGroup h1 {
    font-size: 30px;
    width: 90% !important;
    margin-bottom: 50px !important;
}

.Cooking .container .leftPart .TextGroup h3 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.82px;
    width: 75% !important;
    text-transform: capitalize;
}

.Cooking .container .leftPart .TextGroup button {
    font-size: 14px;
    padding: 12px 37px;
}

@media screen and (max-width: 1200px) {
    .Cooking .container .rightPart {
        width: 50% !important;
    }
    .Cooking .container .rightPart img {
        width: 100% !important;
        height: auto !important;
    }
}



@media screen and (max-width: 850px) {
    .Cooking .container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .Cooking .container .rightPart {
        width: 70% !important;
    }

    .Cooking .container .leftPart {
        width: 100% !important;
    }

    .Cooking .container .leftPart .TextGroup h1 {
        font-size: 25px;
        width: 100% !important;
    }

    .Cooking .container .leftPart .TextGroup h3 {
        font-size: 13px;
        width: 90% !important;
    }

    .Cooking .container .leftPart .TextGroup button {
        border-width: 2px;
        padding: 10px 28px;
    }
}