.Counters {
    background-color: #101418B2;
}

.Counters .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 176px;
    transition: all 0.1s;
}

@media screen and (max-width: 1200px) {
    .Counters .container {
        gap: 100px;
    }
}

@media screen and (max-width: 850px) {
    .Counters .container {
        flex-wrap: wrap;
    }
}